<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5 col-sm-4 col-md-2 no-gutter">
      <img class="img-responsive profile-image img-thumbnail center-block" src="img/sq1.jpg">
    </div>
    <div class="col-xs-7 col-sm-8 col-md-10 no-gutter">
      <h1>Welcome back</h1>
      <h2>
        {{user.firstname}} {{user.lastname}} <a href="/#/profile/lisa-berg"><i class="fa fa-pencil"></i></a>
      </h2>
      <p>
        {{user.street}}
      </p>
    </div>
  </div>
  <div class="row margin-bottom-20">
    <div class="col-xs-5 col-sm-4 col-md-3 no-gutter">
      <div class="row">
        <div class="col-xs-12">
          <h1>List of the local gardens</h1>
        </div>
      </div>
      <div class="row garden-item" ng-class="{'first': $index == 0}" ng-repeat="garden in gardens track by $index">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-leaf"></i>
            </div>
            <div class="col-xs-7">
              {{garden.name}}
            </div>
            <div class="col-xs-3">
              {{garden.distance}}m
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <strong>Recent Updates:</strong> {{garden.lastUpdate | date:'dd.MM.yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <strong>Chief Squirrel:</strong> {{garden.manager.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-7 col-sm-8 col-md-9 no-gutter">
      <div class="infobox-wrapper">
        <div id="infobox-{{$index}}" ng-repeat="garden in gardens track by $index" class="infobox">
          <div class="row">
            <div class="batch"></div>
            <div class="col-xs-12">
              <h2 class="pull-left"><a ng-href="/gardens/{{garden.slug}}">{{garden.name}}</a></h2>
              <i class="fa fa-user pull-right member-count">&nbsp;{{garden.members}}</i>
              <div class="clearfix"></div>
              <p>{{garden.address.street}}</p>
              <p><strong>Chief Squirrel:</strong> <a href="/userProfile/25211485">{{garden.manager.name}}</a></p>
              <p>
                <strong>Description:</strong><br>
                {{garden.description}}
              </p>
              <p><strong>Recent Update:</strong> <span>{{garden.lastUpdate | date:'dd.MM.yyyy'}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div id="gmap" gmap="startingLocation" markers="gardens" image-path="'img/'" class="map"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <h2>Recently posted messages from your area</h2>
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-2">
          <img class="img-responsive img-thumbnail" src="img/sq1.jpg" width="100">
        </div>
        <div class="col-xs-10">
          <strong>Lisa Berg</strong><br>
          12.06.2014<br>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Recently posted messages from your area</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <img class="img-responsive img-thumbnail" src="img/sq1.jpg" width="100">
        </div>
        <div class="col-xs-10">
          <strong>Lisa Berg</strong><br>
          12.06.2014<br>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Recently posted messages from your area</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <img class="img-responsive img-thumbnail" src="img/sq1.jpg" width="100">
        </div>
        <div class="col-xs-10">
          <strong>Lisa Berg</strong><br>
          12.06.2014<br>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-responsive img-thumbnail" src="img/sq1.jpg" width="100">
        </div>
        <div class="col-xs-8">
          <strong>Red Squirrel Nest</strong><br>
          Recent updates: 21.06.2014
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-white btn-block" type="button"><i class="fa fa-question-circle"></i> Manage</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-white btn-block" type="button"><i class="fa fa-question-circle"></i> Provide with tools</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-white btn-block" type="button"><i class="fa fa-dollar"></i> Donate</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-white btn-block" type="button"><i class="fa fa-question-circle"></i> Provide with adwise</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-white btn-block" type="button"><i class="fa fa-question-circle"></i> Join work</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <button ng-click="payment(4.44)">Payment</button>
    <button ng-click="register()">Register to receive donations</button>
    </div>
  </div>
</div>