<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <h1>Profile</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <img class="img-responsive img-thumbnail" src="img/sq1.jpg">
          <a ng-click="register(user.firstname, user.lastname, user.email)" ng-if="!user.merchantId"><i class="fa fa-dollar"></i>Connect to Braintree</a><br>
          <a ng-if="user.merchantId"><i class="fa fa-dollar"></i>Merchant ID: {{user.merchantId}}</a><br>
          <a href="#"><i class="fa fa-question-circle"></i> Help</a>
        </div>
        <div class="col-xs-7">
          <form class="input-margin" role="form">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name" required autofocus ng-model="user.firstname">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email address" required autofocus ng-model="user.email">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="change password" required>
            <button class="btn btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
