<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gardnr</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto|Open+Sans">
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="loginApp" ng-controller="LoginCtrl">
    <div class="container">
      <div class="row login">
        <div class="col-xs-4 col-xs-offset-4">
          <form role="form">
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-highlight btn-block" type="button" ng-click="login()" ng-disabled="loading">
              Sign in
              <i class="fa fa-refresh fa-spin" ng-show="loading"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyACZRSZVWwlW9HHDsKKdW63dxg-PDDMHAA&amp;libraries=places&amp;sensor=false&amp;v=3"></script>
    <script src="/js/vendor.js" type="text/javascript"></script>
    <script src="/js/login/login.js" type="text/javascript"></script>
  </body>
</html>
