.map {
  height: 600px;
  width: 100%;
}
.infobox-wrapper {
  display: none;
}
.infobox {
  min-height: 160px;
  width: 380px;
  margin-top: 8px;
  padding: 15px;
  background-color: #fff;
  font: 10pt verdana;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.infobox h2 {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.infobox .member-count {
  margin-right: 20px;
  color: #999;
}
.infobox .batch {
  position: absolute;
  z-index: 100;
  top: 0;
  right: -100px;
  height: 47px;
  width: 40px;
  background: url('../img/star.png');
}
.garden-item {
  height: 100px;
}
.login {
  margin-top: 200px;
}
.login input {
  margin-bottom: 5px;
}
.big-btns {
  margin-top: 150px;
}
.big-btns .btn-white {
  height: 130px;
  font-size: 15px;
  font-weight: bold;
}
body {
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
}
a {
  -webkit-transition: color .4s;
  transition: color .4s;
  color: #8dc63f;
}
a:link,
a:visited {
  color: #8dc63f;
}
a:hover {
  color: #567b24;
  text-decoration: none;
}
a:active {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #bcdd8e;
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar .notification {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 15px;
  width: 15px;
  background-color: #d9534f;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
}
.btn-white {
  height: 34px;
  padding: 5px;
  margin-bottom: 3px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.22s, border-color 0.22s, box-shadow 0.22s;
  transition: background-color 0.22s, border-color 0.22s, box-shadow 0.22s;
  outline: none;
}
.btn-white:visited,
.btn-white:active,
.btn-white:link {
  color: #000;
}
.btn-white:hover {
  background-color: #f5f5f5;
}
.garden-item {
  padding: 6px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  -webkit-transition: background-color 0.22s, border-color 0.22s, box-shadow 0.22s;
  transition: background-color 0.22s, border-color 0.22s, box-shadow 0.22s;
  outline: none;
}
.garden-item.first {
  border-top: 1px solid #d9d9d9;
}
.garden-item:hover {
  background-color: #f5f5f5;
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
.grey {
  color: #999;
}
.profile-image {
  width: 150px;
  margin-top: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.center-text {
  text-align: center;
}
.input-margin input {
  margin-bottom: 8px;
}
