@import "variables";
@import "map";

body {
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
}

a {
  -webkit-transition: color .4s;
  transition: color .4s;
  color: @linkColor;
}

a:link,
a:visited {
  color: @linkColor;
}

a:hover {
  color: @linkHover;
  text-decoration: none;
}

a:active {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: @linkActive;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;

  .notification {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 17px;
    width: 17px;
    background-color: #d9534f;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
  }
}

.btn-white {
  height: 34px;
  padding: 5px;
  margin-bottom: 3px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: @borderRadius;
  border-radius: @borderRadius;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .22s,border-color .22s,box-shadow .22s;
  transition: background-color .22s,border-color .22s,box-shadow .22s;
  outline: none;

  &:visited,
  &:active,
  &:link {
    color: #000;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}

.garden-item {
  padding: 6px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  -webkit-transition: background-color .22s,border-color .22s,box-shadow .22s;
  transition: background-color .22s,border-color .22s,box-shadow .22s;
  outline: none;

  &.first {
    border-top: 1px solid #d9d9d9;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.grey {
  color: #999;
}

.profile-image {
  width: 150px;
  margin-top: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
}

